<head>
  <title>Login</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <nav>
    <div>
      <img
        src="https://png.pngtree.com/png-vector/20240913/ourlarge/pngtree-round-logo-design-png-image_13831309.png"
        alt="Logo"
        style="height: 50px"
      />
    </div>
    <div>
      <a href="#">Historial</a>
      <a href="/inventario">Inventario</a>
      <a href="#">Manual</a>
      <a href="#">Perfil</a>
    </div>
  </nav>
  <div class="container">
    <form action="/login" method="POST">
      <input type="text" name="user" placeholder="Usuario" />
      <input type="password" name="pass" placeholder="Contraseña" />
      <button type="submit">Ingresar</button>
    </form>
  </div>
</body>
